NODE_ENV=development

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/db_name?schema=public"
JWT_SECRET="CHANGE_ME"
REDIS_URL="redis://localhost:6379"

POSTGRES_USER="USER"
POSTGRES_PASSWORD="PASSWORD"
POSTGRES_DB="swift_shop"

PORT_STORE=4200
PORT_ADMIN=4201
PORT_API=3000
PORT_POSTGRES=5432
PORT_REDIS=6379

DOCKER_PORT_STORE=4210
DOCKER_PORT_ADMIN=4211
DOCKER_PORT_API=3010
DOCKER_PORT_POSTGRES=5442
DOCKER_PORT_REDIS=6389
DOCKER_PORT_PRISMA_STUDIO=5565

API_URL="http://localhost:3000"
GRAPHQL_URL="http://localhost:3000/graphql"
REDIS_URL="redis://localhost:6379"

# SMTP (Gmail App Password)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER="CHANGE_ME@gmail.com"
SMTP_PASS="CHANGE_ME"
SMTP_FROM="Swift Shop <CHANGE_ME@gmail.com>"

# Meilisearch
MEILISEARCH_HOST="http://localhost:7710"
MEILISEARCH_API_KEY="CHANGE_ME"
